<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Add a new order{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <h1>Add a new order here :</h1>
        {% block body %}

            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
